/* line 2, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/extends */
.clearfix:after {
  content: "";
  display: table;
  clear: both; }

/* line 9, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/extends */
.hide-text, .bg-video__toggle-sound, .run-horatio, .be-better, .marque {
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden; }

/* line 15, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/extends */
.absolute-centering {
  position: relative;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%); }

/* line 22, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/extends */
.pseudo-element {
  position: absolute;
  display: block;
  content: ''; }

/* line 28, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/extends */
.unstyled-list {
  padding: 0;
  list-style: none; }

@-webkit-keyframes spin {
  /* line 2, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/animations */
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg); }

  /* line 5, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/animations */
  39% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg); }

  /* line 8, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/animations */
  40% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg); }

  /* line 11, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/animations */
  50% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg); }

  /* line 14, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/animations */
  90% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg); }

  /* line 17, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/animations */
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg); } }

@keyframes spin {
  /* line 2, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/animations */
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg); }

  /* line 5, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/animations */
  39% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg); }

  /* line 8, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/animations */
  40% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg); }

  /* line 11, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/animations */
  50% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg); }

  /* line 14, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/animations */
  90% {
    -webkit-transform: rotateY(180deg);
            transform: rotateY(180deg); }

  /* line 17, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/animations */
  100% {
    -webkit-transform: rotateY(360deg);
            transform: rotateY(360deg); } }

@-webkit-keyframes fade-in {
  /* line 24, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/animations */
  0% {
    opacity: 0; }

  /* line 27, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/animations */
  100% {
    opacity: 100%; } }

@keyframes fade-in {
  /* line 24, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/animations */
  0% {
    opacity: 0; }

  /* line 27, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/animations */
  100% {
    opacity: 100%; } }

/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
/* line 9, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/normalize */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
/* line 22, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/normalize */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
/* line 48, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/normalize */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
/* line 60, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/normalize */
audio, canvas, progress, video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
/* line 72, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/normalize */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
/* line 83, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/normalize */
[hidden], template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
/* line 94, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/normalize */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
/* line 103, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/normalize */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
/* line 114, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/normalize */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
/* line 123, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/normalize */
b, strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
/* line 131, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/normalize */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
/* line 140, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/normalize */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
/* line 149, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/normalize */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
/* line 158, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/normalize */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
/* line 167, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/normalize */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

/* line 174, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/normalize */
sup {
  top: -0.5em; }

/* line 178, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/normalize */
sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
/* line 189, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/normalize */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
/* line 197, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/normalize */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
/* line 208, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/normalize */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
/* line 216, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/normalize */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
/* line 226, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/normalize */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
/* line 237, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/normalize */
code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
/* line 261, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/normalize */
button, input, optgroup, select, textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
/* line 274, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/normalize */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
/* line 286, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/normalize */
button, select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
/* line 301, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/normalize */
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
/* line 313, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/normalize */
button[disabled], html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
/* line 322, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/normalize */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
/* line 332, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/normalize */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
/* line 345, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/normalize */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
/* line 359, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/normalize */
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
/* line 369, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/normalize */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
/* line 385, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/normalize */
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
/* line 393, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/normalize */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
/* line 404, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/normalize */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
/* line 415, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/normalize */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
/* line 424, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/normalize */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
/* line 435, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/normalize */
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* line 441, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/normalize */
td, th {
  padding: 0; }

/* line 5, /Volumes/Storage/Projects/dr-leon/app/sass/elements/base */
*, *:before, *:after {
  box-sizing: border-box; }

/* line 13, /Volumes/Storage/Projects/dr-leon/app/sass/elements/base */
html, button, input, select, textarea {
  font-size: 1em;
  line-height: 1.5rem;
  -webkit-font-smoothing: antialiased;
  font-family: "Karla", Helvetica, Arial, sans-serif;
  color: #190d0f; }

/* line 21, /Volumes/Storage/Projects/dr-leon/app/sass/elements/base */
body {
  height: 100%;
  margin: 0;
  font-size: 1em;
  color: white; }

/* line 28, /Volumes/Storage/Projects/dr-leon/app/sass/elements/base */
a {
  color: hotpink;
  background: transparent;
  outline: none;
  text-decoration: none; }
  /* line 19, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/mixins */
  a:visited {
    color: hotpink; }
  /* line 29, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/mixins */
  a:hover {
    color: hotpink; }
  /* line 34, /Volumes/Storage/Projects/dr-leon/app/sass/utilities/mixins */
  a:active {
    color: hotpink; }

/* line 35, /Volumes/Storage/Projects/dr-leon/app/sass/elements/base */
::-webkit-scrollbar {
  width: 0.375rem;
  height: 0.375rem; }

/* line 40, /Volumes/Storage/Projects/dr-leon/app/sass/elements/base */
img {
  vertical-align: middle;
  max-width: 100%;
  border: 0;
  pointer-events: none; }
  /* line 45, /Volumes/Storage/Projects/dr-leon/app/sass/elements/base */
  img::-moz-selection {
    background: transparent; }
  img::selection {
    background: transparent; }

/* line 50, /Volumes/Storage/Projects/dr-leon/app/sass/elements/base */
button:focus {
  outline: none; }

/* line 1, /Volumes/Storage/Projects/dr-leon/app/sass/elements/typography */
h1 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  font-size: 2em; }

/* line 1, /Volumes/Storage/Projects/dr-leon/app/sass/elements/bg-video */
.bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
      -ms-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  background: url(polina.jpg) no-repeat;
  background-size: cover; }

/* line 15, /Volumes/Storage/Projects/dr-leon/app/sass/elements/bg-video */
.bg-video__toggle-sound {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  border: 0;
  background-size: contain;
  background-image: url("../images/mute-op.svg");
  padding: 0;
  width: 1.5rem;
  height: 1.5rem; }

/* line 28, /Volumes/Storage/Projects/dr-leon/app/sass/elements/bg-video */
.bg-video__toggle-sound--muted {
  background-image: url("../images/mute-cl.svg"); }

/* line 1, /Volumes/Storage/Projects/dr-leon/app/sass/elements/run-horatio */
.run-horatio {
  display: block;
  background: url("../images/run-horatio.svg") no-repeat center/contain;
  width: 9.6875rem;
  height: 3.75rem;
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  margin-left: -4.84375rem; }

/* line 1, /Volumes/Storage/Projects/dr-leon/app/sass/elements/be-better */
.be-better {
  background: url("../images/be-better.svg") no-repeat center/contain;
  width: 100%;
  height: 0;
  padding-bottom: 34.887218%;
  margin: 0;
  -webkit-animation: fade-in 4s ease;
          animation: fade-in 4s ease; }

/* line 1, /Volumes/Storage/Projects/dr-leon/app/sass/elements/marque */
.marque {
  display: block;
  width: 6rem;
  height: 6rem;
  background: url("../images/marque.svg") no-repeat center/contain;
  -webkit-animation: spin 10s linear infinite;
          animation: spin 10s linear infinite; }

/* line 1, /Volumes/Storage/Projects/dr-leon/app/sass/blocks/header */
.header {
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 3rem; }

/* line 1, /Volumes/Storage/Projects/dr-leon/app/sass/blocks/nav */
.nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

/* line 5, /Volumes/Storage/Projects/dr-leon/app/sass/blocks/nav */
.nav a {
  color: #ff768f;
  background: white;
  display: block;
  height: 3rem;
  line-height: 3rem;
  margin-left: 0.75rem;
  text-transform: uppercase;
  padding: 0 0.75rem;
  font-weight: 900; }

/* line 18, /Volumes/Storage/Projects/dr-leon/app/sass/main.scss */
body {
  width: 62%;
  margin: 0 auto;
  max-width: 62.5rem;
  margin-top: 3rem;
  text-align: justify; }