<h1>The Better Life</h1>

<p>Once you have your ticket, we will email you your patient number. Any questions or problems, please email hello@runhoratio.com or call

<p>07484 116 985 <br>between 12pm-5pm 7 days per week. We may not be available but please feel free to leave a message or send a text. We will call you back as soon as we can. </P>

<p>Appointments may not be changed or delayed, but they may be transferred.
All elements of the experience are engineered to make you Better, however if you feel you do not wish to continue, or feel uncomfortable at any stage, please inform a member of staff. Patients who come with an open mind often find it easier to have their minds opened by the doctor. </p>

<p>Those who wear glasses, we ask you to please wear contact lenses, or be prepared to remove your spectacles. <br>
Allergies should be made apparent to a member of staff upon arrival.</p>