// Some base styles

*,
*:before,
*:after {
    box-sizing: border-box;
}

html,
button,
input,
select,
textarea {
    font-size: 1em;
    -webkit-font-smoothing: antialiased;
    font-family: "Karla", Helvetica, Arial, sans-serif;
    color: $black;
    @include min-width($baby) {
        font-size: 1.125em;
    }

    @include min-width($papa) {
        font-size: 1.3125em;
    }
}

body {
    background: image-url("bg.jpg") no-repeat fixed center / cover;
    height: 100%;
    line-height: $baseline;
    margin: 0 auto;
    max-width: 50rem;
    margin-top: $baseline * 2;
    text-align: justify;
    color: $white;
    width: 90%;
    @include min-width($baby) {
        width: 80%;
    }

    @include min-width($mama) {
        width: 70%;
    }
}

a {
    @include link-colors(hotpink, hotpink, hotpink, hotpink);
    background: transparent;
    outline: none;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: $baseline / 4;
    height: $baseline / 4;
}

::selection {
    color: $white;
    background: $pink;
}

img {
    vertical-align: middle;
    max-width: 100%;
    border: 0;
    pointer-events: none;
    &::selection {
        background: transparent;
    }
}

button:focus {
    outline: none;
}