.bg-video {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}

.bg-video__toggle-sound {
    @extend .hide-text;
    position: absolute;
    top: $baseline;
    right: $baseline;
    border: 0;
    background-size: contain;
    background-image: image-url("mute-op.svg");
    padding: 0;
    width: $baseline;
    height: $baseline;
}

.bg-video__toggle-sound--muted {
    background-image: image-url("mute-cl.svg");
}