.run-horatio {
    @extend .hide-text;
    display: block;
    background: image-url("run-horatio.svg") no-repeat center / contain;
    width: 9.6875rem;
    height: 3.75rem;
    position: relative;
    bottom: $baseline;
    left: 50%;
    margin-left: -4.84375rem;
    @include max-width($mama) {
        margin-top: $baseline;
    }

    @include min-width($mama) {
        position: absolute;
    }
}